---

import type { CollectionEntry } from 'astro:content';
import {Formatter} from '@utils/formatter'
import Image from 'astro/components/Image.astro';

// console.log(frontmatter)
interface Props {
  post: CollectionEntry<'blog'>
  class?: string
}
const {post} = Astro.props

const frontmatter = post.data


---
<div class="flex flex-col w-[350px] bg-white shadow-2xl rounded-3xl items-center p-4 md:p-2 m-2 md:h-[400px] md:mt-[100px]">
    <Image
     class="object-cover h-56 rounded-lg lg:w-full"
      src={frontmatter.image}
       alt={frontmatter.title}
       width={400}
       quality="low"
       loading="lazy"
       />

    <div class="flex flex-col justify-between py-6 gap-2">
        <a href={`/post/${post.slug}`} class=" text-xl font-semibold text-gray-800 hover:underline">
            {frontmatter.description}
        </a>
        

        <span class="text-sm text-gray-500 dark:text-gray-300">{Formatter.formatDate(frontmatter.date)}</span>
    </div>
</div>
